<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> workshops teach the fundamental data skills needed to conduct research. 
  The target audience are researchers who have little to no prior computational experience. .The workshops build on learners' 
  existing knowledge to enable them to quickly apply skills learned to their own research. Participants will be encouraged to 
  help one another and to apply what they have learned to their own research problems.

The workshop starts with a lesson on organizing data effectively in spreadsheets, followed by a lesson on data cleaning with OpenRefine. 
  The largest part of the workshop consists of a lesson in Python, focusing on data import, exploratory data analysis, and visualization.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
