<div class="row">
    <div class="col-md-6">
      <h3>Day 1 . Apr 19th </h3>
      <table class="table table-striped">
        <tr> <td>09:00</td> <td> Welcome and <a href="{{ site.pre_survey }}{{ site.github.project_title }}">pre-workshop survey</a> </td> </tr>
        <tr> <td>09:15</td>  <td>Data Organization in Spreadsheets</td> </tr>
        <tr> <td>10:45</td>  <td>Coffee break</td> </tr>
        <tr> <td>11:00</td>  <td>Data Organization in Spreadsheets (continued)</td> </tr>
        <tr> <td>12:00</td>  <td>Coffee break</td> </tr>
        <tr> <td>12:15</td>  <td>OpenRefine for Data Cleaning</td> </tr>
        <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
        <tr> <td>13:00</td>  <td>END</td> </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Day 2. Apr 20th </h3>
      <table class="table table-striped">
        <tr> <td>09:00</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson">Introduction to Python</a></td> </tr>
        <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
        <tr> <td>10:30</td>  <td>Starting with Data</td> </tr>
        <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
        <tr> <td>11:45</td>  <td>Indexing, Slicing and Subsetting DataFrames in Python</td> </tr>
        <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
        <tr> <td>13:00</td>  <td>END</td> </tr>
      </table>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <h3>Day 3. Apr 21st </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td> Data types and formats </td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Combining DataFrames with Pandas</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Data workflows and automation</td> </tr>
      <tr> <td>12:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4. Apr 22nd </h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Making plots with plotnine</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Matplotlib and Pandas</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Matplotlib and Pandas (continued)</td> </tr>
      <tr> <td>12:30</td>  <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">post-workshop Survey</a></td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
